<!DOCTYPE html>
<html>
  <head>
    <title>Neth's App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <style type="text/css">
      .container {
        min-width: 500px;
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action={{ url_for('login') }} method="POST">
        <label for="email"> Email </label>
        <input type='text' name="email"></input>
        <input type='submit'></input>
      </form>
  
      <form action={{ url_for('register') }} method="POST">
        <label for="email"> Email </label>
        <input type='text' name="email"></input>
        <label for="Name"> Name </label>
        <input type='text' name="name"></input>
        <input type='submit'></input>
      </form>
    </div>
      
    </form>
  </body>
</html>
